<!-- Begin Footer
================================================== -->
<div class="footer">
    <p class="pull-left">
            Copyright &copy; 2017 Chinedu' Blog
    </p>
    <p class="pull-right">
            Created by <a target="_blank" href="#">Chinedu</a>
    </p>
    <div class="clearfix">
    </div>
</div>
<!-- End Footer
================================================== -->