<!-- about section -->

<section class="about_section layout_padding long_section">
<div class="container">
    <div class="row">
    <div class="col-md-6">
        <div class="img-box">
        <img src="img/full_pic.jpeg" alt="my full pic">
        </div>
    </div>
    <div class="col-md-6">
        <div class="detail-box">
        <div class="heading_container">
            <h2>
            About
            </h2>
        </div>
        <p>
            This website gives a basic insight into my life, from my background information, education to personal interests. Each topic is discussed as a blog content and linked to an "autobiography".
            It was built using HTML/CSS anf Bootstrap for responsiveness and a mobile view framework. The chat application makes use of Websockets to send requests to the server-side which processes the request and
            send back the websocket messages to the clients connected. Every event is sent to the server which handles the requests.

        </p>
        </div>
    </div>
    </div>
</div>
</section>

<!-- end about section -->