<div class="author">
    <h1 class="author__heading">Hi, I am Chinude</h1>
    <p class="author__body">Web developer and whatever you do Chinude</p>
</div>

<img src="/img" alt="img" class="hero-image" width="981" height="528">

<section class="articles">

    <h2 class="articles__heading">least post</h2>

    <ul class="articles-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="articles-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Post</a>

</section>